.container-1 {
  border: 1px solid #000;
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.flex-box-container-1 {
  display: flex;
  border: 1px solid #000;
  padding: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.flex-box-container-1 div {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0);
}

.container-2 {
  border: 1px solid red;
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.flex-box-container-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid blue;
}

.flex-box-container-2 img {
  border: 1px solid green;
  margin: 10px;
  box-shadow: 10px 10px 30px black;
}