.container-1 , .container-2, .container-3, .container-4{
  border: 1px solid #000;
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.flex-box-container-1 , .flex-box-container-2, .flex-box-container-3, .flex-box-container-4{
  display: flex;
  border: 1px solid #000;
  padding: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.flex-box-container-1 div {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0);
}

.flex-box-container-2 img {
  margin: 10px 5px;
  box-shadow: 10px 10px 30px #000;
  border-radius: 50px;
}

.flex-box-container-3 img {
  width: 150px;
}

.flex-box-container-3 img:hover {
  box-shadow: 0px 10px 50px rgba(37, 58, 233, 1);
}